[Unit]
Description=Back up Booking and More every 30 minutes

[Timer]
OnCalendar=*-*-* *:00,30:00
Persistent=true
AccuracySec=1min

[Install]
WantedBy=timers.target
